@import url(https://fonts.googleapis.com/css2?family=Acme&family=Playfair+Display:wght@500&display=swap);
/* @import url(https://coolors.co/08274c-312509-d6edff-499167-3f4531); */

body {
    background-color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #051a32;
    color: whitesmoke;
    display: grid;
    font-family: 'Playfair Display', Arial, 'Times New Roman';
}
h2 {
    margin-top: -10px;
}

/* Mobile or Baseline Views */
main {
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}
.card {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
.card img {
    width: 95%;
    border: 1px solid black;
    margin-top: 10px;
}
.card-content {
    padding-bottom: 10px;
}
h3 {
    background-color: #08274C;
    color: whitesmoke;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
    line-height: 1rem;
}

footer {
    margin-top: 25px;
    padding-bottom: 10px;
    background-color: #051a32;
    color: whitesmoke;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet Views **********************************************/
@media only screen and (min-width: 37.5em) { /*37.5em*/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #rule_thirds {
        grid-column: 1/3;
    }
}

/* Desktop Views *********************************************/
@media only screen and (min-width: 60em) { /*60em*/
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contrast {
        grid-column: 1/2;
    }
    #repetition {
        grid-column: 2/3;
    }
    #rule_thirds {
        grid-column: 3/4;
    }
}