@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Quattrocento+Sans&family=Ubuntu&display=swap);
/* @import url(https://coolors.co/547fad-0098fa-2e5eaa-f2faff-10132f); */

[data-theme="light"] {
    --color-bg: #F2FAFF;
    --color-fg: #10132F;
    --color-border: #10132F;
    --color-card-bg: white;
    --color-card-fg: black;
}
[data-theme="dark"] {
    --color-bg: black;
    --color-fg: #F2FAFF;
    --color-border: white;
    --color-card-bg: black;
    --color-card-fg: white;
}


body {
    /* max-width: 80%; */
    background-color: var(--color-bg);
    color: var(--color-fg);
    /* background-color: #F2FAFF; */
    margin: 0 auto;
    text-align: center;
    /* color: #10132F; */
}

p {
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #10132F;
    color: whitesmoke;
    /* font-size: 1.5em; */
    font-family: 'Merriweather', Arial, 'Times New Roman';
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}
#icon {
    margin-left: 50px;
    border: solid 3px whitesmoke;
    width: 100px;
    grid-column: 1/2;
}
#title {
    margin: 0;
    grid-column: 2/3;
}
h1 {
    font-size: 1em;
    margin: 0;
    font-family: 'Merriweather', Arial, 'Times New Roman';
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}
nav a {
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
}
/* HamButton Nav */
#menu {
    /* font-size: 1.25rem; */
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #F2FAFF;
	color: #000;
    height: 35px;
    width: 35px;
 	position: absolute;
    right: 10px;
    top: 45px;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "✖";
}
.navigation {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
}
.navigation li a:hover {
    text-shadow: #F2FAFF 2px 2px 10px;
    color: whitesmoke;
}
/* When button is clicked */
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}
/* End of HamButton Nav */

/* Dark Mode Switch */
button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all var(--global-transition-time) ease-in-out;
    cursor: pointer;
    position: absolute;  
  }
#darkswitch {
    /* font-size: 1rem; */
    border: 1px solid rgba(0,0,0,.3);
	padding: 4px 2px;
	background-color: #F2FAFF;
	color: #000;
    top: 10px;
    right: 10px;
}
/* End Dark Mode Switch */

/* Main */
main {
    margin: 0 auto;
    max-width: 80%;
}
h3 {
    font-family: 'Merriweather', Arial, 'Times New Roman';
}
#main-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 80%;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly
}
#main-grid section {
    width: 80%;
    height: 200px;
}


/* HERO - Review and Edit */
.hero {
    position: relative;
}
/* .hero-img {
    width: 100%;
    height: auto;
} */
.hero img {
    width: 100%;
    height: auto;
}
#call-action {
    background-color: #10132F;
    border-radius: 3px;
    color: white;
    font-family: 'Merriweather', Arial, 'Times New Roman';
    text-align: center;
    text-decoration: none;
    padding: 7.5px;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main Body Content */
section {
    margin-top: 25px;
    border-radius: 5px;
}
section h3 {
    margin: 0;
    padding: 10px;
    background-color: var(--color-border);
    color: var(--color-bg);
    border-bottom: solid 2px var(--color-border);
}
.card {
    border: solid 2px var(--color-border);
    background-color: var(--color-card-bg);
    color: var(--color-card-fg);
    line-height: 1em;
}

/* Footer */
footer {
    margin-top: 25px;
    padding: 20px;
    /* padding-bottom: 25px; */
    background-color: #10132F;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
footer h3 {
    margin: 0;
    margin-bottom: 5px;
}
hr {
    border: 1px solid white;
}
footer p {
    margin: 0 auto;
}
#document-info {
    font-size: .8em;
}
#contact {
    font-size: .7em;
}