@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Quattrocento+Sans&family=Ubuntu&display=swap);
/* @import url(https://coolors.co/547fad-0098fa-2e5eaa-f2faff-10132f); */

body {
    /* max-width: 80%; */
    background-color: #F2FAFF;
    margin: 0 auto;
    text-align: center;
    color: #10132F;
}

p {
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #10132F;
    color: whitesmoke;
    /* font-size: 1.5em; */
    font-family: 'Merriweather', Arial, 'Times New Roman';
    display: grid;
    grid-template-columns: 1fr 2fr 2.5fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}
#icon {
    margin-left: 50px;
    border: solid 3px whitesmoke;
    width: 100px;
    grid-template-columns: 1/2;
}
#title {
    margin: 0;
    grid-template-columns: 2/3;
}
h1 {
    font-size: 1.25em;
    margin: 0;
    font-family: 'Merriweather', Arial, 'Times New Roman';
}
/* h2 {
    margin-top: 0;
    font-size: 1.25em;
    font-family: 'Merriweather', Arial, 'Times New Roman';
} */

nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}
nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: whitesmoke;
}
/* HamButton Nav */
#menu {
    /* font-size: 1.25rem; */
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
    height: 35px;
    width: 35px;
 	position: absolute;
    right: 25px;
    top: 25px;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "✖";
}
.navigation {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
}
.navigation li a:hover {
    text-shadow: 2px 2px 5px #F2FAFF;
    color: whitesmoke;
}
/* When button is clicked */
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}
/* End of HamButton Nav */


/* Main */
main {
    margin: 0 auto;
    max-width: 80%;
}
h3 {
    font-family: 'Merriweather', Arial, 'Times New Roman';
}
#main-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 80%;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly
}
#main-grid section {
    width: 80%;
    height: 200px;
}


/* HERO - Review and Edit */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
#hero-box {
    grid-column: 1/4;
    /* grid-row: 1/4; */
    z-index: -1;
}
#hero-img {
    width: 100%;
    grid-column: 1/3;
    /* grid-row: 1/3; */
}
#call-action {
    background-color: #0984AD;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    grid-column: 2/3;
    /* grid-row: 2/3; */
    border: solid 2px black;
}

section {
    border: solid 2px #10132F;
    margin-top: 25px;
}

/* Footer */
footer {
    margin-top: 25px;
    /* padding: 25px; */
    padding-bottom: 25px;
    background-color: #10132F;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
footer p {
    margin: 0 auto;
}
#document-info {
    font-size: 1.25em;
}
#contact {
    font-size: 1em;
}