@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Quattrocento+Sans&family=Ubuntu&display=swap);
/* @import url(https://coolors.co/547fad-0098fa-2e5eaa-f2faff-10132f); */

[data-theme="light"] {
    --color-bg: #F2FAFF;
    --color-fg: #10132F;
    --color-border: #10132F;
    --color-card-bg: white;
    --color-card-fg: black;
    --color-form-bg: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] {
    --color-bg: black;
    --color-fg: #F2FAFF;
    --color-border: white;
    --color-card-bg: black;
    --color-card-fg: white;
    --color-form-bg: rgb(225, 225, 225);
}


body {
    /* max-width: 80%; */
    background-color: var(--color-bg);
    color: var(--color-fg);
    /* background-color: #F2FAFF; */
    margin: 0 auto;
    text-align: center;
    /* color: #10132F; */
}

p {
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #10132F;
    color: whitesmoke;
    /* font-size: 1.5em; */
    font-family: 'Merriweather', Arial, 'Times New Roman';
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}
#icon {
    margin-left: 50px;
    border: solid 3px whitesmoke;
    width: 100px;
    grid-column: 1/2;
}
#title {
    margin: 0;
    grid-column: 2/3;
}
h1 {
    font-size: 1em;
    margin: 0;
    font-family: 'Merriweather', Arial, 'Times New Roman';
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}
nav a {
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
}
/* HamButton Nav */
#menu {
    /* font-size: 1.25rem; */
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #F2FAFF;
	color: #000;
    height: 35px;
    width: 35px;
 	position: absolute;
    right: 10px;
    top: 45px;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "✖";
}
.navigation {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
}
.navigation li a:hover {
    text-shadow: #F2FAFF 2px 2px 10px;
    color: whitesmoke;
}
/* When button is clicked */
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}
/* End of HamButton Nav */

/* Dark Mode Switch */
button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all var(--global-transition-time) ease-in-out;
    cursor: pointer;
    position: absolute;  
  }
#darkswitch {
    /* font-size: 1rem; */
    border: 1px solid rgba(0,0,0,.3);
	padding: 4px 2px;
	background-color: #F2FAFF;
	color: #000;
    top: 10px;
    right: 10px;
}
/* End Dark Mode Switch */

/* Main */
main {
    margin: 0 auto;
    max-width: 80%;
}
h3 {
    font-family: 'Merriweather', Arial, 'Times New Roman';
}
#main-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 80%;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly
}
#main-grid section {
    width: 80%;
    height: 200px;
}


/* HERO - Review and Edit */
.hero {
    position: relative;
}
/* .hero-img {
    width: 100%;
    height: auto;
} */
.hero img {
    width: 100%;
    height: auto;
}
#call-action {
    background-color: #10132F;
    border-radius: 3px;
    color: white;
    font-family: 'Merriweather', Arial, 'Times New Roman';
    text-align: center;
    text-decoration: none;
    padding: 7.5px;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main Body Content */
section {
    margin-top: 25px;
    border-radius: 5px;
}
section h3 {
    margin: 0;
    padding: 10px;
    background-color: var(--color-fg);
    color: var(--color-bg);
    border-bottom: solid 2px var(--color-border);
}
.card {
    border: solid 2px var(--color-border);
    background-color: var(--color-card-bg);
    color: var(--color-card-fg);
    line-height: 1em;
}

/* Footer */
footer {
    margin-top: 25px;
    padding: 20px;
    /* padding-bottom: 25px; */
    background-color: #10132F;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
footer h3 {
    margin: 0;
    margin-bottom: 5px;
}
hr {
    border: 1px solid white;
}
footer p {
    margin: 0 auto;
}
#document-info {
    font-size: .8em;
}
#contact {
    font-size: .7em;
}





/*******************Discover Page Edits******************/

#disc-main-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 80%;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly
}
#disc-main-grid section {
    width: 80%;
    height: auto;
}
div .disc-card {
    margin-top: 25px;
    border-radius: 5px;
    width: 80%;
    height: auto;
}
#parks-icon {
    height: 100px;
    width: 100px;
}
.disc-card {
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
    border: solid 2px var(--color-border);
    background-color: var(--color-card-bg);
    color: var(--color-card-fg);
    /* line-height: 1.3em; */
    box-shadow: 5px 5px 10px var(--color-fg);
}
.disc-card > h3 {
    line-height: 1.4em;
}
.disc-card > p {
    margin: .5em;
    /* margin-top: .75em; */
}
.disc-card ul {
    margin: 0;
    padding: 0;
}
.disc-card ul li {
    list-style-type: none;
    /* text-align: left; */
    /* margin-left: 25px; */
}
.disc-card a {
    text-decoration: none;
    color: var(--color-fg);
}
#parks-icon {
    margin: 5px;
}
.disc-card figure img {
    /* margin: 10px; */
    width: 100%;
}
figure {
    /* margin-top: 10px; */
    margin: 10px;
}





/******************** Join and Thankyou page edits ******************/
#joingrid {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    text-align: left;
}
form fieldset {
    margin: 2rem 0;
    border: 1.5px solid var(--color-fg);
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: var(--color-fg);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--color-fg);
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--color-fg);
    border-radius: 4px;
    padding: .75rem;
    color: #10132F;
    width: 100%;
    max-width: 20rem;
    background-color: var(--color-form-bg);
}

form label.sbs {
    display: block;
    padding: .25rem 0;
    color: var(--color-fg);
    font-size: .9rem;
}
form label textarea {
    width: 100%;
    background-color: var(--color-form-bg);
    color: #10132F;
    font-size: 1rem;
    border: solid 1px var(--color-fg);
    border-radius: 4px;
}

form input.submitBtn {
    border: none;
    background-color: var(--color-fg);
    color: var(--color-bg);
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: darkred solid 6px;
}
form label.top input:required:valid {
    border-left: darkgreen solid 6px;
}

#membenefits {
    padding-bottom: 2rem;
}
#membenefits p {
    margin: 0 auto;
    width: 80%;
    line-height: 1.1em;
}

.thankyou {
    margin: 10rem 0 15rem 0;
    padding: 1rem 0 1rem 0;
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: 1.5px solid var(--color-fg);
    border-radius: 25rem;
}





/*************** Directory Page Edits *******************/
#directory-title {
    margin: 1.5rem;
    font-size: 2.5rem;
}
.display-view {
	margin: .25rem auto;
	border: 1px solid var(--color-border);
    border-radius: 5px;
	padding: 2rem;
    background-color: #AAC4E0;
    font-family: 'Merriweather', Arial, 'Times New Roman';
    position: relative;
}
.display-view #grid {
    color: #10132F;
    position: absolute;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
}
.display-view #list {
    color: #10132F;
    position: absolute;
	padding: 1rem;
	font-weight: 700;
    font-size: 1.5rem;
    top: 25%;
    right: 25%;
    transform: translate(25%, -25%);
}

/* Grid View */
.grid {
    display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}
.grid img {
    padding: 1rem 0 .5rem 0;
    width: 25%;
}
.grid p {
    margin: 0;
    line-height: 1.45rem;
}
.grid a {
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--color-fg);
}
.grid a:hover, .list a:hover {
    text-shadow: var(--color-fg) 2px 2px 5px;
}

/* list view */
.list {
	display: flex;
	flex-direction: column;
}
.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
    grid-gap: .2rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    color: #10132F;
	margin: 0;
	padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
}
.list section > * {
	margin: 0 1rem;
}
.list section img {
	display: none; /* smaller viewports only */
}
.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #10132F;
    font-size: larger;
}
.list  a {
    color: #10132F;
    text-decoration: none;
    font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
}
.list p {
    line-height: 1.6rem;
}
.list section:nth-child(even) {
    background-color: #AAC4E0;
}
.list section:nth-child(odd) {
    background-color: whitesmoke;
}