@media screen and (min-width: 720px) {
    header {
        grid-template-columns: 1fr 2fr 3fr;
    }
    h1 {
        font-size: 1.25em;
    }
    #menu {
        display: none; /*Hides hamburger button in large/desktop view*/
    }
    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav a {
        font-size: 1.25em;
    }
    nav ul li{
        margin-left: 20px;
        list-style-type: none;
        font-family: 'Merriweather', Arial, 'Times New Roman';
    }

    #main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
        grid-gap: 25px;
    }
    #main-grid section {
        width: 100%;
        /* height: 200px; */
    }
    #spotlight {
        grid-column: 1/3;
    }
    
    #document-info {
        font-size: 1.2em;
    }
    #contact {
        font-size: .9em;
    }

}