@media screen and (min-width: 780px) {
    header {
        grid-template-columns: 1fr 2fr 3fr;
    }
    h1 {
        font-size: 1.25em;
    }
    #menu {
        display: none; /*Hides hamburger button in large/desktop view*/
    }
    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav a {
        font-size: 1.25em;
    }
    nav ul li{
        margin-left: 20px;
        list-style-type: none;
        font-family: 'Merriweather', Arial, 'Times New Roman';
    }

    #main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
        grid-gap: 25px;
    }
    #main-grid section {
        width: 100%;
        /* height: 200px; */
    }
    #spotlight {
        grid-column: 1/3;
    }
    
    #document-info {
        font-size: 1.2em;
    }
    #contact {
        font-size: .9em;
    }



    /************************ Discover Page Edits *******************************/
    #disc-main-grid {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: minmax(mincontent, auto); */
        align-items: start;
    }
    #disc-main-grid section, #disc-main-grid div {
        width: 95%;
        /* height: auto; */
    }
    #disc-events {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #disc-demographics {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #disc-economy {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #disc-education {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #disc-history {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #disc-images {
        grid-column: 2/3;
        grid-row: 1/7;
    }
    figure>img:hover {
        box-shadow: 0px 0px 5px #10132F;
    }

    /*************** Join Page Edits ****************/
    #joingrid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        grid-gap: 2rem;
    }
    form {
        grid-column: 1/2;
    }
    #membenefits {
        grid-column: 2/3;
    }
    form label.top input, form label.top select {
        width: 85%;
    }
    form label textarea {
        width: 100%;
    }    
}