body {
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: rgb(0, 57, 57);
    color: whitesmoke;
    padding: 0;
    margin: 0;
    width: 100%;
}
h1 {
    padding: 25px;
    margin: 0;
}

main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 25px;
}
img {
    background: #000;
    animation: fade 5s;
    width: 400px;
    height: 600px;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background-color: rgb(0, 57, 57);
    color: whitesmoke;
    padding: 25px;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.5em;
}