@import url(https://fonts.googleapis.com/css2?family=Acme&family=Playfair+Display:wght@500&display=swap);
/* @import url(https://coolors.co/c4f1be-a2c3a4-14161d-241853-dfb2f4); */

body {
    background-color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #14161d;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.5em;
    font-family: 'Acme', Arial, 'Times New Roman';
}
header img {
    width: 100px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
header h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

nav {
    background-color: #cef1c9;
    margin: 0 auto;
    padding: 10px;
    list-style-type: none;
    line-height: 50px;
    border-bottom: solid 4px #241853;
    /* border-top: solid 4px #241853; */
}
nav ul li{
    list-style-type: none;
    font-family: 'Acme', Arial, 'Times New Roman';
    font-size: 1.5em;
}
nav a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 50%;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto', Arial, 'Times New Roman';
}
main h2 {
    border-bottom: solid 2px #14161d ;
}
.card {
    grid-column: 1 / 2;
    border: solid 2px #14161d;
    border-radius: 5px;
    margin-top: 20px;
}
section h3 {
    /* background-color: #cef1c9; */
    padding-bottom: 10px;
    border-bottom: solid 2px #14161d;
    /* margin-bottom: solid 2px #14161d; */
}
section ul li {
    list-style-type: none;
    text-align: left;
    margin-left: -20px;
}
section ul li a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #14161d;
    color: whitesmoke;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25em;
}